# Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
**/.env
**/.env.*

# Builds
**/dist/
**/build/

# Prisma local artifacts (geralmente ok ignorar)
**/.prisma/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
